


/* Main container */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background-color: #4B0082; /* Dark purple */
  color: #FFFFFF; /* White text */
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* subtle shadow */
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Question heading */
#question {
  margin-bottom: 25px;
  font-size: 1.5em;
}

/* Options container */
.optionsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px; /* scing between buttons */
  margin: 20px auto;
  }
button{
  padding: 10px 5px;
  border:none;
  border-radius: 16px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  font-weight: 600;
  
}
.controls-btn{
  display: flex;
  justify-content: space-between;
}
.controls-btn button {
  background-color: #9370DB; /* Light purple */
  color: #fff;
  border:none; /* Black border */
  padding: 12px 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.progressBar{
background-color:purple;
padding: 2px;
height: 15px;
border: 1px solid #fff;
box-shadow:3px 3px 5px rgba(255,);
margin-bottom: 10px;
border-radius: 5px;
width: 0%;


}
/*
.question-box{
  background: #9370db;
  padding:20px 5px;
  border-radius: 50px 16px 16px 0;
}*/

.selected {
  background-color:purple;
  color:#fff;
  border: 2px solid #fff;
}


.question-box {
  position: relative;
  padding: 25px;
  border-radius: 40px 16px 16px 0;
  overflow: hidden;
  color: white;
  
}

/* Background image */
.question-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("images/question-img.jpg") no-repeat center/cover;
  
  opacity: 0.3; /* controls transparency */
  z-index: 0;
}

/* Dark overlay (makes text readable) */
.question-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Make sure text stays above */
.question-box h2 {
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.restartBtn{
  margin-top: 50px;
  text-align: center;
}
